body {
    font-family: sans-serif;
}
header{
    color: brown;
    text-align: center;
    background-color: coral;
    border-radius: 5px;
    padding: 10px;
    text-decoration: blue;
}
h1{
    color: cyan;
}
footer{
    color: blue;
}
p{
    color: red;
}
